<p id="notice"><%= notice %></p>

<h1>Welcome to my blog</h1>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, post %> </h3>
  <p><%= post.description %></p>
  <p>Post created <%= time_ago_in_words post.created_at %> </p>
<% end %>
<p>
<%= link_to 'New Post', new_post_path %>
</p>